<!DOCTYPE html>
<html>
<head>
  <title>RubySample</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<banner>
  <h1><%= link_to "RubySample", root_path %></h1>
</banner>

<%= yield %>

</body>
</html>
